# Ignore data
*.xlsx
*.csv

# Ignore mac things
.DS_Store?
*.DS_Store

# Ignore visual studio code things
.vs/
*.vs

# Ignore jupyter things
.ipynb_checkpoints/

# Ignore X13 ARIMA folder
x13/*

# Ignore cache
production_code/__pycache__/