# Ignore data
*.xlsx
*.csv

# Ignore mac things
.DS_Store?
*.DS_Store

# Ignore visual studio code things
.vs/
*.vs

# Ignore jupyter things
.ipynb_checkpoints/

# Ignore X13 ARIMA folder
x13/*

# Ignore cache
production_code/__pycache__/
resources/scripts/__pycache__/

# Don't publish what isn't mine
resources/images.zip
resources/images/
resources/scripts/sure.py
resources/scripts/wtTools.py
resources/tp_sd205.zip

